// Auto-Suggest Container
@mixin suggest-container {
  @include box-shadow(0, 5px, 5px, 0, #999);
  border: none;
  border: 1px solid $hr-border-color;
  border-bottom: none;
  width: 748px;//100% !important;
}

// Auto-Suggest Category
@mixin suggest-category {
  background: none repeat scroll 0 0 #eee;
  border-bottom: 1px solid $hr-border-color;
  color: #999;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  width: 25%;
}

// Individual Auto-Suggest Item
@mixin suggest-item {
  border-bottom: 1px solid $hr-border-color;
  color: $gray-dark; //darken($primary-color, 30%);
  display: block;
  font-weight: $font-weight-normal;
  font-size: 1.2rem;
  padding: 8px 6px;

  &:hover,
  &.active {
    background-color: $secondary-color;//$panel-bg;
  }

  b,
  span {
    color: darken($primary-color, 10%);
  }
}

// Auto-suggest
.pac-container,
.suggestion-results table {
  @include suggest-container;
}

.pac-container {
  margin-top: -1px;
  max-width: 300px;

  &:after {
    height: 30px;
  }
}

.pac-item {
  font-size: $table-row-font-size;
  max-width: 300px;
  white-space: normal;

  &.pac-selected {
    background-color: $panel-bg;
  }
}

.pac-item,
.suggest-list li a {
  @include suggest-item;
}

.suggest-list li:last-of-type a {
  border-bottom-width: 0;
}

#search-form,
.search-container {
  
  //background-color: $primary-color;
  border-radius: $global-radius * 2;
  -moz-border-radius: $global-radius * 2;
  -webkit-border-radius: $global-radius * 2;
  margin: 0;// auto;
  max-width: 68.75rem;

  &.profile {
    border-radius: ($global-radius * 2) ($global-radius * 2) 0 0;
    -moz-border-radius: ($global-radius * 2) ($global-radius * 2) 0 0;
    -webkit-border-top-left-radius: $global-radius * 2;
    -webkit-border-top-right-radius: $global-radius * 2;
  }

  label {
    color: #fff;
    font-size: 1rem;
  }
}

// Search Form
#search-form {
  font-size: 1.25rem;
  padding: 0;

  input:focus {
    border-color: $hr-border-color;
  }

}

// "What" box dropdown
.suggestion-results {
  font-size: 1rem;
  margin-top: -15px;
  // Important because IE 8 grid styles override this
  position: absolute !important;
  width: 100%;
  z-index: 50;

  &.open {
    display: block;
    top: 3.75rem;
  }

  .suggest-list {
    margin: 0;
  }

  table {
    border-radius: 4px;
    tr:nth-of-type(even) {
      border-top: 2px solid $gray-mid;
      background-color: #fff;
    }
    td {
      padding: 0;
      &.list {
        border-bottom: 1px solid $hr-border-color;
      }

      &.set-label {
        @include suggest-category;
      }
    }
  }
}