#header
  .row.collapse
    .large-6.large-offset-3.medium-offset-2.columns
      a(href= base_dir + "index.html")
        img.logo(src='../img/logo-hsq-patternlib-white.svg' alt='Healthsparq Pattern Library')
