script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/fastclick/lib/fastclick.js')
script(src='bower_components/foundation/js/foundation/foundation.js')
//- script(src='bower_components/foundation/js/foundation/foundation.abide.js')
//- script(src='bower_components/foundation/js/foundation/foundation.accordion.js')
//- script(src='bower_components/foundation/js/foundation/foundation.alert.js')
//- script(src='bower_components/foundation/js/foundation/foundation.clearing.js')
//- script(src='bower_components/foundation/js/foundation/foundation.dropdown.js')
//- script(src='bower_components/foundation/js/foundation/foundation.equalizer.js')
//- script(src='bower_components/foundation/js/foundation/foundation.interchange.js')
//- script(src='bower_components/foundation/js/foundation/foundation.joyride.js')
//- script(src='bower_components/foundation/js/foundation/foundation.magellan.js')
//- script(src='bower_components/foundation/js/foundation/foundation.offcanvas.js')
//- script(src='bower_components/foundation/js/foundation/foundation.orbit.js')
//- script(src='bower_components/foundation/js/foundation/foundation.reveal.js')
//- script(src='bower_components/foundation/js/foundation/foundation.slider.js')
script(src='bower_components/foundation/js/foundation/foundation.tab.js')
//- script(src='bower_components/foundation/js/foundation/foundation.tooltip.js')
//- script(src='bower_components/foundation/js/foundation/foundation.topbar.js')
script(src='scripts/main.js')
script(src='scripts/global.js')

//- moved all to global.js
  script.
    //- $(document).foundation();
    $(document).foundation({
      offcanvas : {
        open_method: 'move', // Sets method in which offcanvas opens, can also be 'overlap'
        close_on_click : false
      }
    });
    // Smoooooth scrolling between in-page links
    Element.prototype.scrollIntoView = function() {
      $('html,body').animate({ scrollTop: $(this).offset().top-50 }, 500);
    }

    // this is a script to use html() to toggle content in buttons. The text content is defined in the onClick() event. 
    $.fn.extend({
      toggleText:function(a,b){
          if(this.html()==a){this.html(b)}
          else{this.html(a)}
      }
    });

    $("#networks-info-toggle").click(function(){
      $("#networks-info").toggle();
      return false;
    });
    $("#reviews-info-toggle").click(function(){
      $("#reviews-info").toggle();
      return false;
    });
    $(".js-xtra-locations-toggle").click(function(){
      $("#xtra-locations").toggle();
      if (!$(this).hasClass('button')) window.location.href = windows.location.href + '#xtra-locations';
      return false;
    });
    $('#leave-review').click(function(){
      $('#review-login').fadeToggle();
      document.getElementById('review-login').style.display = "inline";
      return false;
    });

    //- toying with making the button disabled
    //- $('#leave-review').click(function(){
    //-   $('#review-login').fadeToggle("fast", function(){
    //-     document.getElementById('review-login').style.display = "inline";
    //-     $('#leave-review').toggleClass("disabled");
    //-   });
    //-   return false;
    //- });