footer
  - var info = [{url: 'tel:503.799.2217', text: '239.234.1900', icon: 'phone'}, {url: '#', text: 'Contact Us', icon: 'mail'}, {url: 'twitter.com/healthsparq', text: 'twitter', icon: 'twitter'}, {url: 'linkedin.com/in/allanwhite', text: 'Connect on LinkedIn', icon: 'linkedin'}];
  .row
    .large-12.columns
      include ../modules/_logo
  .row
    .large-4.medium-4.columns
      ul.no-bullet
        li.h3 Contact
        li.fn GenesisHealth Plans
        li.street-address 123 Colonial Ave.
        li.locality Caprica City
        li
          span.state Caprica, 
          span.zip 12345
        li.email
          a(href='#') info@GenesisHealth.com
    .large-5.medium-4.columns
      h3.h3 Our Mission
      p Lorem ipsum Occaecat Duis ad tempor dolor magna pariatur magna commodo pariatur non cillum dolore adipisicing cupidatat velit ullamco in sunt laboris reprehenderit pariatur veniam voluptate sit ea anim deserunt aliquip non do ut id.
    .large-3.medium-4.columns
      h3.h3 Connect
      ul.icon-ul
        each item, i in info
          li
            span.icon.icon-li(class=info[i].icon)
            a(href=info[i].url)
              | #{info[i].text}
