doctype html
html
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')

  title #{pagetitle}
  link(rel='stylesheet', href = base_dir + 'bower_components/foundation/css/normalize.css')
  //- link(type='text/css', rel='stylesheet', href='../bower_components/foundation/css/foundation.css')
  link(rel='stylesheet', href = base_dir + 'css/app.css')

  link(rel='shortcut icon', href = 'favicon.ico')
  link(rel='icon', href = 'favicon.ico')
  if xtra_css
    for item in xtra_css
      link(rel='stylesheet', href = base_dir + 'css/' + item)
  //- link(rel='apple-touch-icon', href='apple-touch-icon.png')
  //- link(rel='apple-touch-icon', sizes='57x57', href='apple-touch-icon-57x57-precomposed.png')
  //- link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72-precomposed.png')
  //- link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114-precomposed.png')
  //- link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144-precomposed.png')
  //- link(rel='apple-touch-icon', href='apple-touch-icon-precomposed.png')
  //- link(rel='apple-touch-startup-image', href='apple-startup.png')

  script(src = base_dir + 'bower_components/foundation/js/vendor/modernizr.js')

  //if lt IE 9
    script(src='#{base_dir}js/vendor/respond.min.js')
