mixin content(id, next, base)
  - var pagetitle = 'Healthsparq'
  //-  | #{pages[id}
  doctype html
  html
    meta(charset='utf-8')
    meta(name='viewport', content='width=1100, user-scalable=yes')

    title #{pagetitle}
    link(rel='stylesheet', href = base + 'bower_components/foundation/css/normalize.css')
    //- link(type='text/css', rel='stylesheet', href='../bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href = base + 'css/app.css')
    link(rel='shortcut icon', href = base + 'favicon.ico')
    link(rel='icon', href = base + 'favicon.ico')
    script(src = base + 'bower_components/foundation/js/vendor/modernizr.js')
    //if lt IE 9
      script(src='#{base}js/vendor/respond.min.js')

    body.results.bg-header(style='background-image: url("#{base}img/bg-top.png");')
      header.text-center
        a(href=base + 'index.html')
          img(src=base + 'img/header-topbar.png')
        a(href=base + '#{files[1]}')
          img(src=base + 'img/header-searchbar.png')
      main.relative
        a(href=base + '#{files[next]}')
          img.bg(src=base + 'img/content/#{imgs[id]}', alt='landing page')

      footer.text-center
        img(src=base + 'img/footer.png')

      //- .panel
      //-   h2 This: #{id} - #{files[id]}
      //-   h2 Next: #{next} - #{files[next]}
      //-   ul.no-bullet
      //-     each item, i in files
      //-       li
      //-         | #{i}: #{files[i]}