ul.side-nav.no-bullet
  li
    a(href = base_dir + 'index.html', title='Pattern Library Home')
      span.icon.ra 
      |  Pattern Library Home
  li
    h4 Patterns
  each item, i in patterns
    li
      a(href = base_dir + patterns[i].url, title=patterns[i].desc) #{patterns[i].name} 
  li
    h4 Designs
  each item, i in templates
    li
      a(href = base_dir + templates[i].url, title=templates[i].desc) #{templates[i].name} 
  li
    h4 References
  each item, i in references
    li
      a(href = base_dir + references[i].url, title=references[i].desc) #{references[i].name} 
