//- Here be the start of the off-canvas business
.off-canvas-wrap
  .inner-wrap
    nav.tab-bar
      section.left.tab-bar-section
        a(href='../index.html').logo
          img(src='../img/logo-2x.png', alt='Healthsparq', width='300', height='40')
      section.right-small
        a.right-off-canvas-toggle.menu-icon
          span
    aside.right-off-canvas-menu
      ul.off-canvas-list
        li
          label Filters
        li
          a(href='#') Thing one
        | ...