- var kne = [{"name":"Providers","items":[{"name":"Kneeter, Marci C","value":"Kneeter, Marci C"},{"name":"Kneler, Eduardo S","value":"Kneler, Eduardo S"},{"name":"Knea, Teresa L","value":"Knea, Teresa L"},{"name":"Knee, Alicia A","value":"Knee, Alicia A"},{"name":"Knecht, Lance H","value":"Knecht, Lance H"}]},{"name":"Services","items":[{"name":"Knee arthroscopy with cartilage repair","value":"Knee arthroscopy with cartilage repair"},{"name":"Knee replacement","value":"Knee replacement"},{"name":"ACL repair by arthroscopy [Knee scope; minimally invasive knee surgery]","value":"ACL repair by arthroscopy"},{"name":"Revision of total hip or total knee replacement","value":"Revision of total hip or total knee replacement"},{"name":"X-Ray Exam of Knee (3 views)","value":"X-Ray Exam of Knee (3 views)"}]}]

- var knee = [{"name":"Providers","items":[{"name":"Kneeter, Marci C","value":"Kneeter, Marci C"},{"name":"Knee, Alicia A","value":"Knee, Alicia A"}]},{"name":"Services","items":[{"name":"Knee arthroscopy with cartilage repair","value":"Knee arthroscopy with cartilage repair"},{"name":"Knee replacement","value":"Knee replacement"},{"name":"ACL repair by arthroscopy [Knee scope; minimally invasive knee surgery]","value":"ACL repair by arthroscopy"},{"name":"Revision of total hip or total knee replacement","value":"Revision of total hip or total knee replacement"},{"name":"X-Ray Exam of Knee (3 views)","value":"X-Ray Exam of Knee (3 views)"}]}]

form(id="searchForm" name="searchForm" action="")
  input#input-what(type="text")
  .suggestion-results.hide#kne-suggestions
    table
      tbody
        each category in kne
          tr
            td.list
              ul.no-bullet.suggest-list
                each item in category.items
                  li
                    a.suggest-item(href="#", data-suggestion="#{item.value}") #{item.name}
            td.set-label #{category.name}
  .suggestion-results.hide#knee-suggestions
    table
      tbody
        each category in knee
          tr
            td.list
              ul.no-bullet.suggest-list
                each item in category.items
                  li
                    a.suggest-item(href="#", data-suggestion="#{item.value}") #{item.name}
            td.set-label #{category.name}