// Inline TOC. Needs an array in the jade file of titles and anchors; ex: - var sections = [{title: "Buttons", anchor: "buttons"}, {title: "Drop-downs", anchor: "dropdowns"}]
div(data-magellan-expedition='fixed')
  dl.sub-nav
    each section, s in sections
      dd(data-magellan-arrival=sections[s].anchor)
        a(href='#'+sections[s].anchor) #{sections[s].title}