- var base_dir = ""

//- image path
- var img_dir = "../img/"

//- var files = ["index", "02-results", "03-treatment", "04-treatment", "05-treatment", "06-detail"]
- var files = ["index.html", "search.html", "acl-repair-by-arthroscopy.html", "acl-repair-by-arthroscopy-detail.html", "imaging/therapy-services.html", "facilities/forest-surgery-center.html"]

- var imgs = ["", "02-results.png", "03a-treatment-detail-page-collapsed.png", "03b-treatment-detail-page-imaging-expanded.png", "03c-treatment-detail-page-imaging-and-therapy-expanded.png", "04-facility-detail-background.png"]

//- - var pages = {[file: "index", title: "search"], [file: "02-results", title: "Search Results"], [file: "03-treatment", title: "Treatment Detail"], [file: "04-treatment", title: "Treatment Detail"], [file: "05-treatment", title: "Treatment Detail"], [file: "06-detail", title: "Treatment Detail"], [file: "07-detail", title: "Treatment Detail"], [file: "08-detail", title: "Treatment Detail"], [file: "09-detail", title: "Treatment Detail"]}

