//- http://www.fillerati.com/
p.docs-tag-label paragraph (p), blockquote, list
p Kantos Kan accompanied him to act as guide, the green warriors commencing a thorough search of the palace for other Zodangans and for loot, and Dejah Thoris and I were left alone.   She had sunk into one of the golden thrones, and as I turned to her she greeted me with a wan smile.
blockquote "Was there ever such a man!" she exclaimed. "I know that Barsoom has never before seen your like. Can it be that all Earth men are as you? 
ul
  li Alone, 
  li a stranger, 
  li hunted, 
  li threatened, 
  li persecuted, 
p ...you have done in a few short months what in all the past ages of Barsoom no man has ever done: joined together the wild hordes of the sea bottoms and brought them to fight as allies of a red Martian people."