  #section-quality.content.active(data-bindattr-81='81')
    h4.h4.subheader.spaced-out Quality Measures
    section.row
      .large-12.columns
        article.qm-article
          h3 Preventive Care and Screening Ratings
          | See what preventive screenings are offered by this provider, view
          | provider ratings and learn how many patients were treated according
          | to recommended guidelines.
          .hide.details
            br
            strong
              | Preventive care and screening is an important part of creating
              | healthy habits
            | and preventing illness and disease. Quality Reports can help you
            | determine if a provider is right for you by providing information about
            | preventive care services offered and provider ratings, and by comparing the
            | provider to other providers in the area. The details used in Quality Reports are
            | based on Healthcare Effectiveness Data and Information Set (HEDIS
            sup ®
            | ) measures
            | from the past 12-24 months.
            br
            br
            strong
              | HEDIS is used by more than 90% of America's health plans to measure provider
              | performance
            | on important phases of care and service. Preventive care includes
            | screenings and/or treatments for asthma, back pain, cancer, depression, diabetes,
            | heart disease, immunizations, respiratory infections as well as medication
            | monitoring and healthcare screenings for women.
            br
            br
            strong Quality Reports include information about:
            ul
              li
                | The overall rating given to the provider (below average, average or above average),
                | based on the combined provider rating
              li Preventive care and screening options available from this provider
              li The average rating for this provider
            strong Quality Reports based on HEDIS measures include:
            ul
              li The number of patients treated
              li The percentage of patients treated
              li
                | The percentage of patients treated by other providers in the surrounding
                | area (the local average)
          a.toggle-qm-details(href='#') Show more..
        section.qm-section
          h4 Cancer Screening
          .qm-container
            .row.first
              .large-6.columns
                | Measure Name
              .large-2.columns
                | Rating
              .large-2.columns
                | Patients Treated per Guidelines
              .large-2.columns
                | Local Comparison
            .row
              .large-6.small-12.columns.first
                | Breast Cancer Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 82%
                br
                small
                  | 192 of 235
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 76%
            .row
              .large-6.small-12.columns.first
                | Cervical Cancer Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 82%
                br
                small
                  | 230 of 279
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 80%
            .row
              .large-6.small-12.columns.first
                | Colorectal Cancer Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-3
                | Above Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 81%
                br
                small
                  | 252 of 310
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 67%
          h4 Diabetes 
          .qm-container
            .row.first
              .large-6.columns
                | Measure Name
              .large-2.columns
                | Rating
              .large-2.columns
                | Patients Treated per Guidelines
              .large-2.columns
                | Local Comparison
            .row
              .large-6.small-12.columns.first
                | HgA1C Testing
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-3
                | Above Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 94%
                br
                small
                  | 102 of 109
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 87%
            .row
              .large-6.small-12.columns.first
                | LDL-C Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 88%
                br
                small
                  | 96 of 109
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 82%
            .row
              .large-6.small-12.columns.first
                | Medical Attention for Nephropathy
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 76%
                br
                small
                  | 83 of 109
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 72%
            .row
              .large-6.small-12.columns.first
                | Retinal Eye Exam Performed
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 44%
                br
                small
                  | 48 of 109
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 39%
          h4 Heart Disease 
          .qm-container
            .row.first
              .large-6.columns
                | Measure Name
              .large-2.columns
                | Rating
              .large-2.columns
                | Patients Treated per Guidelines
              .large-2.columns
                | Local Comparison
            .row
              .large-6.small-12.columns.first
                | Cholesterol Screening for Patients with Cardiovascular Conditions
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 82%
                br
                small
                  | 14 of 17
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 85%
          h4 Women’s Health
          .qm-container
            .row.first
              .large-6.columns
                | Measure Name
              .large-2.columns
                | Rating
              .large-2.columns
                | Patients Treated per Guidelines
              .large-2.columns
                | Local Comparison
            .row
              .large-6.small-12.columns.first
                | Breast Cancer Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 82%
                br
                small
                  | 192 of 235
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 76%
            .row
              .large-6.small-12.columns.first
                | Cervical Cancer Screening
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-2
                | Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 82%
                br
                small
                  | 230 of 279
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 80%
        article.qm-article
          h3 Process of Care Ratings
          | Process of care ratings provide important information about risks and
          | dangers associated with various treatments and services.
          .hide.details
            br
            strong When you undergo treatment,
            | you're at risk for a variety of
            | serious infections and complications. Additionally, the quality of care you
            | receive greatly impacts your recovery. The Centers for Medicare & Medicaid
            | Services developed a standardized set of steps hospitals should take in order
            | to ensure better treatment results. Hospital protocols were developed for
            | treating heart attack, heart failure or pneumonia as well as preventing
            | infections related to surgical procedures. Information about how often
            | providers provide recommended care is compiled from patient records and
            | displayed as process of care ratings.
            a.toggle-qm-details(href='#') Learn more »
            br
            br
        section.qm-section
          h4 Asthma Care
          .qm-container
            .row.first
              .large-6.columns
                | Measure Name
              .large-2.columns
                | Rating
              .large-2.columns
                | Patients Treated per Guidelines
              .large-2.columns
                | Local Comparison
            .row
              .large-6.small-12.columns.first
                | Use of appropriate Medications for People with Asthma
              .large-0.small-6.columns
                | Rating
              .large-2.small-6.columns.rating.rating-1
                | Below Average
              .large-0.small-6.columns
                | Patients Treated per Guidelines
              .large-2.small-6.columns
                | 89%
                br
                small
                  | 24 of 27
              .large-0.small-6.columns
                | Local Comparison
              .large-2.small-6.columns
                | 97%
  .qr-container
    section.row
      .large-12.columns
        article
          h4.h4.subheader.spaced-out Recognitions
          p
            | Quality information includes awards, certifications and similar designations from accredited
            | independent third parties. Learn more about select recognitions by clicking on the logos.
        section.row.qr-full
          .large-6.columns
            a.qr-icon(href='http://www.absurgery.org/default.jsp?abouthome')
              .qr-icon-container
                img(src='../img/recognitions/abs.jpg', alt='Icon for American Board of Surgeons')
              p American Board of Surgeons
            p.hide
              | American Board of Surgery's Maintenance of Certification Program.
              br
              br
              | Board certification demonstrates a physician's exceptional expertise in a particular specialty and/or subspecialty of medical practice. Click the icon for more information.
