include includes/_variables
include includes/_mixins
//-+content(5,0,'../')
- var base = '../'
- var pagetitle = 'Healthsparq'
- var section_ids = [{id: "quality", label: "Quality Report", icon: "quality-q-sm", content: "04-tab1-quality-report.png"}, {id: "reviews", label: "Reviews", icon: "star-full", content: "04-tab2-reviews.png"}, {id: "locations", label: "Affiliated Providers", icon: "hospital", content: "04-tab3-providers.png"}, {id: "info", label: "About this Facility", icon: "info", content: "04-tab4-about.png"}]


doctype html
html
  meta(charset='utf-8')
  meta(name='viewport', content='width=1100, user-scalable=yes')

  title #{pagetitle}
  link(rel='stylesheet', href = base + 'bower_components/foundation/css/normalize.css')
  //- link(type='text/css', rel='stylesheet', href='../bower_components/foundation/css/foundation.css')
  link(rel='stylesheet', href = base + 'css/app.css')
  link(rel='shortcut icon', href = base + 'favicon.ico')
  link(rel='icon', href = base + 'favicon.ico')
  script(src = base + 'bower_components/foundation/js/vendor/modernizr.js')
  //if lt IE 9
    script(src='#{base}js/vendor/respond.min.js')

  body.results.bg-header
    //-(style='background-image: url("#{base}img/bg-top.png");')
    header.text-center
      a(href=base + 'index.html')
        img(src=base + 'img/header-topbar.png')
      a(href=base + '#{files[1]}')
        img(src=base + 'img/header-searchbar.png')
    main.relative
      .row.group
        .large-9.columns
          img(src=base + 'img/content/profile-card.png', width='862', height='201')
          .tab-widget.group
            dl.tabs(data-tab)
              //-, data-options='deep_linking:false; scroll_to_content:false;'
              //- This data array is in _variables.jade. It's used here, and in the tab-content.jade partial. This builds out the tabs.
              each item, x in section_ids
                if x == 0
                  - var active = "active"
                else
                  - var active = ""
                dd(class=active)
                  a(href='#section-' + section_ids[x].id)
                    span.icon(class=section_ids[x].icon)
                    | #{section_ids[x].label}

            .tabs-content
              each tab, t in section_ids
                if t == 0
                  div.content.active(id='section-' + section_ids[t].id)
                    img(src='../img/content/' + section_ids[t].content)
                else
                  div.content(id='section-' + section_ids[t].id)
                    img(src='../img/content/' + section_ids[t].content)
              //- div.content.active(id='section-' + section_ids[0].id)
              //- div.content.active(id='section-' + section_ids[1].id)
              //- div.content.active(id='section-' + section_ids[2].id)
              //- div.content.active(id='section-' + section_ids[3].id)


        .large-3.columns
          img(src=base + 'img/content/profile-sidebar.png')
    footer.text-center
      img(src=base + 'img/footer.png')



    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/fastclick/lib/fastclick.js')
    script(src='../bower_components/foundation/js/foundation.min.js')
    script.
      $(document).foundation();

    //- script(src='../bower_components/foundation/js/foundation/foundation.tab.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.abide.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.accordion.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.alert.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.clearing.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.dropdown.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.equalizer.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.interchange.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.joyride.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.magellan.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.offcanvas.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.orbit.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.reveal.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.slider.js')

  //- script(src='bower_components/foundation/js/foundation/foundation.tooltip.js')
  //- script(src='bower_components/foundation/js/foundation/foundation.topbar.js')
