include includes/_variables
//- A list of tab sections; moved here for centralized control 

- var base_dir = ""
- var id = 0
- var pagetitle = 'Healthsparq'
//- - var xtra_css = ["index.css", "docs.css"]
include includes/_head-links
body.index.bg-center(style="background-image: url('img/content/01-landing.png');")
  #search-all.row.collapse
    .large-10.columns
      include includes/_search-form
    .large-2.columns
      a.b-invisible.button.large.expand(href='#{files[1]}') search

include includes/_footer-links