html {
  -webkit-font-smoothing: antialiased;
  // I WISH WEBFONTS WORKED RIGHT!
}
.bg-center {
  background: {
    repeat: no-repeat;
    position: center top;
    color: #fff;
  }
}
.bg-header {
  background: {
    repeat: repeat-x;
    position: left top;
    color: #fff;
    image: url('../img/bg-top.png');
  }
}
.b-invisible {
  opacity: 0;
}
// IDs for demo elements
#search-all {
  margin-top: 270px;
}
#searchForm { // form field container
  padding-left: 50px;
}
#input-what { // first form field
  padding-left: 40px;
  margin-top: -4px;
}
// Rocky, use this for highlighting the search words
span.search-term {
  font-weight: bold;
  color: $anchor-font-color;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bg {
  z-index: -50;
}
a {
	transition: all .15s ease;
	font-weight: bold;
}
.full-width {
	max-width: 100%;
}
img {
  max-width: none;
}

.group {
  padding-top: 40px;
  padding-bottom: 60px;
}
main {
  text-align: center;
  // padding-left: 24px;
}


.tab-widget {
  z-index: 300;
}
.tabs {
  $border: 5px;
  //background-color: $primary-color;
  dd {
    border-bottom: $border solid adjust-color($tabs-navigation-bg-color, $lightness: -20%);
    margin-right: $border;
    // width: 33%;
    &.active {
      border-top: $border solid $primary-color;
      border-bottom: none;
      &>a {
        color: $text-color;
      }
    }
    &>a {
      font-weight: bold; // wherrr is that foundation setting for this? Surely...
    }
    .icon {
      margin-right: rem-calc(10);
    }
  }
}
.tabs-content {
  .content {
    text-align: left;
  }
  margin-top: rem-calc(25);
  img.left { // for illustrations, photos etc.
    padding-right: rem-calc(15);
  }
}

footer {
  background-color: #deeef3;
  padding: 0 30px;
}


// .align-bottom { // for icons that need to align to the bottom of the text (like for arrows)
//   vertical-align: text-bottom;
// }
// // .feature {
// // 	margin-top: 2rem;
// // }
// .group { // for 'chunks' of features that are sorta widgetlike
// 	@include group-box;
// 	.info{
// 		color: $gray-mid;
// 	}
// }
// sup, sub { // dat decimal
// 	line-height: 0;
// 	vertical-align: baseline;
//     position: relative;
// }
// sup {
// 	// top: -.33em;
//     // bottom: .5em;
// }

// sub {
// 	bottom: -.33em;
// }
// hr {
// 	&.divider {
// 		border: 1px solid $gray-light;
// 	}
// 	&.logo-divider {
// 		// border: 1px solid $gray-pale;
// 		padding: rem-calc(30) 0 rem-calc(40) 0;
// 		background: {
// 			image: url('../img/divider-logo-gray.png');
// 			size: 100%;
// 			position: center;
// 			repeat: no-repeat;
// 		}
// 	}
// }
// // sup  { vertical-align: text-top; } 
// // sub  { vertical-align: text-bottom; }
// .text-label {
// 	&.small {
// 		// @include spaced-out;
// 		color: lighten($body-font-color, 40%);
// 		font-size: rem-calc(13);
// 	}
// }

// .regular-list, .invertelist, .attributes, .info-list {
// 	.label {
// 		// margin-right: rem-calc(5);
// 		margin-right: rem-calc(5);
// 	}
// }
// .attributes {
// 	padding: 0;
// 	margin-bottom: rem-calc(4);
// 	.label {
// 		@include spaced-out;
// 		padding-bottom: rem-calc(3);
// 		font-weight: bold;
// 	}
// }
// .tertiary {
// 	color: $gray-pale;
// }
// .label {
// 	.secondary {
// 		color: lighten($body-font-color, 20%);
// 	}
// 	&.tertiary {
// 		background-color: $gray-pale;
// 		color: $body-font-color;
// 	}
// }
// .inverted {
// 	background-color: $text-color;
// 	color: $body-bg;
// }



